# Project exclude paths
/.gradle/
/build/
/build/classes/java/main/
allclasses-index.html
allpackages-index.html
build.gradle
constant-values.html
deprecated-list.html
element-list
gradlew
gradlew.bat
help-doc.html
index.html
member-search-index.js
member-search-index.zip
overview-summary.html
overview-tree.html
package-search-index.js
package-search-index.zip
script.js
search.js
serialized-form.html
settings.gradle
stylesheet.css
system-properties.html
type-search-index.js
type-search-index.zip